


header {
    height: 60px;
}


.container {
    width: 1040px;
    height: 400px;
    padding: 70px;
}


.hide {
    display: none;
}

.form-row {
    padding: 100px;
}

ol, ul {
	list-style: none;
}

